    <footer class="footer">
        <div class="container">
            <div class="columns">
                <div class="column has-text-centered">
                    Copyright © 2018 The Godot Engine community
                </div>
                <div class="column">
                    Links
                    <ul>
                        <li><a href="https://github.com/godotengine/asset-library">GitHub repository</a></li>
                        <li><a href="https://github.com/godotengine/asset-library/issues">Issues</a></li>
                        <li><a href="https://godotengine.org">Godot Engine homepage</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ base_url() }}/public/bundle.js"></script>
</body>
</html>
