// Asset search results

.column-asset {
    padding: 0.5rem;
}

.card-asset {
    .title:not(.is-spaced) + .subtitle {
        margin-top: -1.2rem;
    }

    .subtitle {
        margin-bottom: 0.5rem;
    }

    .card-content {
        padding: 1.1rem;
    }

    .media-left {
        // Offset asset icons vertically
        margin-top: 0.75rem;
    }

    .media-content {
        margin-left: 0.25rem;
    }

    .tags {
        // Prevents overflow
        margin-bottom: 0;
    }
}
