// Bulma variable redefinitions

$godot-blue-dark:  hsl(226, 34%, 30%);
$godot-blue-light: hsl(206, 58%, 52%);

$body-background-color: hsl(220, 23%, 95%);
$footer-background-color: hsl(220, 23%, 95%);

$size-6: 14px;

$primary: $godot-blue-light;
$link: $godot-blue-light;

$family-sans-serif: "Roboto", sans-serif;
